@model OnlineShoppingSystem.Models.Admin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Style/stylesheet2.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="~/Images/User.png" id="icon" alt="User Icon" />
            </div>
            @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
            {
                <!-- Login Form -->
                <form>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.AdminID)
                    <div class="form-group">
                        <div>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control  fadeIn second", placeholder = "Enter your username", required = "You should enter your username", type = "text" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control fadeIn third", placeholder = "Enter your password", required = "You should enter your password", type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-success fadeIn fourth"/>
                    </div>
                <strong class="alert-warning">@ViewBag.Message</strong>
                </form>
            }
            </div>
    </div>

</body>
</html>
